
<div class="flex items-end">
  <div class="max-w-xl pr-5">
    <div class="relative mt-5 mb-0">
      <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
        <span class="text-[1.5em]">Emerging graphic designer crafting visually striking and imaginative designs.</span>
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60">Drawing inspiration from global art to craft unique and sophisticated graphic designs, collaborating with industry experts to bring creative visions to life.</span>
      </h4>
    </div>
  </div>
</div>
